.header{
    height: 84px;
    background-color: #d43c33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.topsvg{
    width: 142px;
    height: 25px;
}
.download-button{
    width: 100px;
    height: 36px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: #d43c33;
    text-align: center;
    line-height: 36px;
}
/* 推荐歌单 */
.rec-song>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rec-song>ul>li{
    width: 33.33%;
}
.rec-song>ul>li>a>img{
    width: 100%;
}
.rec-song>ul>li>a>p{
    text-align: center;
    font-size: 13px;
}
.rec-song>ul>li>a{
    text-decoration: none;
    color: #333;
}
.title{
    height: 20px;
    padding: 0px 0px 0px 9px;
    font-size: 17px;
    margin: 0px 0px 14px;
}

.title>p::before{
    content: "";
    width: 3px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: #d43c33;
    margin-right: 10px;
 }

.newSong a{
     padding: 6px 0px;
     width: 100%;
     display: inline-block;
     position: relative;
     height: 48px;
     border-bottom: 1px solid #efefef;
     margin-bottom: 5px;
 }

.newSong li{
    padding-left: 10px;
}

.newSong li .song-title-container{
    display: flex;
    width: 90%;
    justify-content: flex-start;
}
.song-title-container{
    display: flex;
    width: 90%;
    justify-content: flex-start;
}

.song-title{
    font-size: 17px;
}
.song-title>p{
    width: 100%;
    color: black;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.song-des{
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    color: darkgrey;
}
.song-des>p{
    overflow: hidden;
    text-overflow: ellipsis;
}

.play-icon{
    width: 22px;
    height: 22px;
    background: url(../img/index_icon_2x.png) no-repeat;
    background-size: 166px 97px;
    background-position: -24px 0;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 25%;
    transform: translate(-50%);
}

.singer{
    font-size: 12px;
    color: darkgray;
}
.singer2{
    font-size: 12px;
    color: darkgray;
}

.sqicon{
    background: url(../img/index_icon_2x.png);
    background-size: 166px 97px;
    width: 12px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
}
/* .number>p{
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
} */
/* tab */
.tab{
    width: 100%;
    display: flex;
    border: 1px solid rgb(228, 228, blue);
}
.tabItem{
    flex: 1;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
/* radio切换 */
.content{
    width: 100%;
    overflow: hidden;
    height: 938px;
}
.inner{
    width: 400%;
    transition: margin-left 0.4s;
}
.screen{
    width: 25%;
    float: left;
    /* height: 100%; */
}


#s1:checked~.tab>label:nth-child(1){
    color: #d43c33;
    font-weight: bold;
    border-bottom: 2px solid #d43c33
}
#s2:checked~.tab>label:nth-child(2){
    color: #d43c33;
    font-weight: bold;
    border-bottom: 2px solid #d43c33
}
#s3:checked~.tab>label:nth-child(3){
    color: #d43c33;
    font-weight: bold;
    border-bottom: 2px solid #d43c33
}
#s4:checked~.tab>label:nth-child(4){
    color: #d43c33;
    font-weight: bold;
    border-bottom: 2px solid #d43c33
}
#s1:checked~.content>.inner{
    margin-left: 0%;
}
#s2:checked~.content>.inner{
    margin-left: -100%;
}
#s3:checked~.content>.inner{
    margin-left: -200%;
}
#s4:checked~.content>.inner{
    margin-left: -300%;
}
/* 隐藏多选框 */
input[type="radio"]{
    display: none;
}

#hotsong{
    width: 100%;
}

/* 搜索界面样式 */
.search-container{
    width: 100%;
    height: 100%;
}
.search-bar{
    height: 60px;
    padding: 15px 10px;
    border: 1px solid rgb(233, 233, 233);
}
.search-bar>input[type="text"]{
    height: 30px;
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    background: rgb(233, 233, 233);
    padding: 0 10px;
}

.search-rem,.search-res{
    display: none;
}
.search-hot{
    display: flex;
    flex-wrap: wrap;
}
.search-def>h2{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0 0 15px;
}
.search-hot{
    padding: 10px 10px 0 10px;
}
.search-hot>span{
    padding: 4px 8px;
    font-size: 14px;
    /* padding: 10px; */
    border: 1px solid rgb(233, 233, 233);
    border-radius: 35px;
    margin: 0 8px 10px 0;
    display: block;
    /* margin: 10px 0px 0 10px; */
}
.search-list>li{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid rgb(233, 233, 233);
    font-size: 13px;
    color: gray;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-list-img{
    width: 12px;
    height: 12px;
}
.search-res>ol>li{
    display: flex;
    height: 66px;
    align-items: center;
    border-bottom: 1px solid rgb(233, 233, 233);
}
.search-res>ol>li>img{
    width: 50px;
    height: 50px;
}
.search-res>ol>li>p{
    margin-left: 15px;
    font-size: 16px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ull{
    display: flex;
}
#number{
    color: #df3436;
    height: 48px;
    width: 40px;
    line-height: 48px;
    display: flex;
    justify-content: center;
}
#number2{
    color: #999;
    height: 48px;
    width: 40px;
    line-height: 48px;
    display: flex;
    justify-content: center;
}
/* mv */
.video>video{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #efefef;
}
.videoName{
    padding-left: 5px;
    margin-bottom: 10px;
    color: gray;
   
}
.videoName>p{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.indexAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px -30px 5px 5px ;
}
.indexAvatar>img{
    width: 100%;
}